*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.myCart
{
    background-color: #053506;
    color: white;
    padding: 10px 20px;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ToDisplayCartItems
{
    width: 100%;
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    gap: 3px;

    
   
}
.cartDisc
{
   

    width: 100%;
    border-radius: 2px;
    border: 2px solid #053506;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: pink;
}
.cartDisc h3{
    
    padding: 1px 30px;
}
.items
{
   
    width: 100%;
    border-radius: 2px;
    border: 2px solid #053506;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.items--img, .iteming{
    width: 10%;
    /* background-color: red; */
}
.itemname{
    padding: 3px 30px;
}
.items--title{
    /* background-color: red; */
    width: 16%;
    padding: 3px;
}
.fa-x{
    background-color: red;
    color: white;
    font-size: 20px;
}
.qunt{
    margin-left: 160px;
}
.cartempty{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: red;
}

